body {
  padding: 0;
  margin: 0;
  background-color: rgb(50, 56, 63);
  color: white;
  font-family: "Arial", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  align-items: center;
  padding: 1rem;
}

.headerCenter {
  flex-grow: 1;
  text-align: right;
  padding-right: 25rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: overline;
}

.pageLogo {
  width: 7rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: 3%;
}

.categoriesHeader {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.subtitleText {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

.jeskoVSchiron {
  display: flex;
  flex-wrap: wrap; /* Allows elements to drop automatically */
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Space between image and text */
}

.jeskoVSchironImg {
  width: 100%; /* On small screens, the image occupies the entire width */
  text-align: center;
}

.jeskoVSchironImg img {
  width: 100%; /* Ensures the image does not overflow */
  max-width: 500px; /* Maximum size to avoid very large images */
}

.jeskoVSchironText {
  width: 100%; /* On small screens, the text occupies the entire width */
  text-align: center;
}

/* Media Queries for small screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .pageLogo {
    align-self: flex-start; /* Align the logo to the left */
    margin-left: 0; /* Ensure there is no left margin */
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .categoriesHeader {
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  .pageLogo {
    margin-left: 60%;
    margin-right: auto;
    display: block;
  }

  .jeskoVSchiron {
    flex-wrap: nowrap; /* On large screens, maintains the row structure */
    flex-direction: row;
  }

  .jeskoVSchironImg {
    width: 60%; /* Increases the width of the image */
  }

  .jeskoVSchironImg img {
    width: 100%; /* Ensures the image does not overflow */
    max-width: 900px; /* Increased maximum size for large screens */
  }

  .jeskoVSchironText {
    width: 40%; /* Adjusts the width of the text */
    text-align: center; /* Centers the text */
    font-size: 1.2rem; /* Increases the text size */
    margin-right: 4%;
  }

  .subtitle {
    font-size: 2rem; /* Increases the subtitle size */
    text-align: center; /* Centers the subtitle */
  }

  .subtitleText {
    font-size: 1.5rem; /* Increases the subtitle text size */
    text-align: center; /* Centers the subtitle text */
  }
}
